<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= desc %></p>
    <p><nav><a href="https://github.com/blake626">Github</a> <a href="https://www.instagram.com/oceancreme/">Insta</a></nav></p>
  </body>
</html>
