<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= desc %></p>
    <p><nav><a href="https://github.com/blake626"><img src="/images/github-mark.png" title="Check out my GitHub!"></a>
            <a href="https://www.instagram.com/oceancreme/"><img src="/images/glyph-mark.png" height="32" width="32" title="Instagram"></a>
            <a href="mailto:blake.will1996@gmail.com?Subject=Hi%20from%20your%20site!"><img src="/images/email-mark.png" height="32" width="32" title="E-mail me!"></a>
            <a class="textform" onclick="toggleForm(); closeAllTabs();"><img src="/images/text-mark.png" height="32" width="32" title="Shoot me a text!"></a>
      </nav>
      <img id="painting" src="/art/wavespainting.jpg">
    </p>

    <div class="tabs">
        <button class="tab" onclick="openTab(event,'about')" href="#about">About</button>
      <button class="tab" onclick="openTab(event,'cse')" href="#cse">Computer Science</button>
      <button class="tab" onclick="openTab(event,'art')" href="#art">Art</button>
      <button class="tab" onclick="openTab(event,'projects')" href="#projects">Notable Projects</button>
    </div>

    <div id="about" class="tabcontent">
        <button class="x" onclick="this.parentElement.style.display='none'; document.getElementsByClassName('tab active').className.replace
        ( /(?:^|\s)MyClass(?!\S)/g , '' )">X</button>
        <p id="aboutcontent">
          I don't know how to really define passion but I'm interested in a lot of things. I enjoy learning on the fly and coming up
           with ideas. The artist in me wants to be creative in all facets of life and so I got into programming as well.
        </p>
        <p>My hobbies include doing art, especially painting recently, researching skincare in my free time and playing 
          computer games (current favorite is Terraria!). 
        </p>
        <p>
          Recently, I've been taking my capstone course for school and working on a chatbot application for the Google Home
           and Amazon Echo. I have also been working to learn new skills in my free time including taking a more intentional approach 
           to learning web and mobile app development as well as figuring out how to mod games and I will also be working on
           making an art gallery for this site. 
        </p>
      </div>

    <div id="cse" class="tabcontent">
      <button class="x" onclick="this.parentElement.style.display='none'; document.getElementsByClassName('tab active').className.replace
      ( /(?:^|\s)MyClass(?!\S)/g , '' )">X</button>
      <p>
        <div class="list">
        <h6>Concepts</h6>
        <ul>
          <li>Object-oriented Programming</li>
          <li>Web and Mobile Application Development</li>
          <li>Database Management</li>
        </ul>
        </div>
        <div class="list">
        <h6>Languages/Skills</h6>
        <ul>
          <li>Python</li>
          <li>C/C++</li>
          <li>Java/Javascript</li>
          <li>R</li>
          <li>x86 ARM Assembly</li>
          <li>SQL</li>
          <li>XML</li>
          <li>UML</li>
          <li>JSON</li>
        </ul>
      </div>
      <div class="list">
        <h6>PM Models</h6>
        <ul>
          <li>Agile</li>
          <li>Scrum</li>
        </ul>
        </div>
        <div class="list">
          <h6>Currently Interested in Learning</h6>
          <ul>
            <li>React Native</li>
            <li>Angular.js</li>
            <li>C#</li>
            <li>Functional Programming</li>
            <li>IoT Programming</li>
            <li>Machine Learning/Neural Networks</li>
          </ul>
          </div>
      </p>
    </div>

    <div id="art" class="tabcontent">
      <button class="x" onclick="this.parentElement.style.display='none'; document.getElementsByClassName('tab active').className.replace
      ( /(?:^|\s)MyClass(?!\S)/g , '' )">X</button>
      <p>
        <div class="list">
        <h6>Mediums</h6>
        <ul id="list">
          <li>Oils</li>
          <li>Acrylics</li>
          <li>Pen/Pencil</li>
        </ul>
        </div>
        <div class="list">
        <h6>Subjects</h6>
        <ul id="list">
          <li>Water</li>
          <li>Cartoons</li>
          <li>Ruins</li>
          <li>Nature</li>
        </ul>
        </div>
      </p>
    </div>

    <div id="projects" class="tabcontent">
      <button class="x" onclick="this.parentElement.style.display='none'; document.getElementsByClassName('tab active').className.replace
      ( /(?:^|\s)MyClass(?!\S)/g , '' )">X</button>
      <p>
        <div class="list">
        <h6>Projects</h6>
        <ul id="list">
          <ul>This Website<br><br>
          <li>Made with NodeJS and ExpressJS, styled with HTML/CSS</li>
          <li>Clicking the Mail icon allows visitors to send me an e-mail</li>
          <li>Clicking the Speech icon will soon allow visitors to text me from the website using a GET request and Twilio API</li>
        </ul>
        <br>
          <ul><a href="http://webdev.cse.msu.edu/~will2817/project3/">Enigma Machine Web Application</a><br><br>
          <li>Made with Javascript, PHP and HTML/CSS</li>
          <li>Web page replica of the Enigma Machine cipher machine used during WWII (also featured in <i>The Imitation Game</i>)</li>
          <li>All buttons are clickable and turn red upon clicking</li>
          <li>Settings page allows for editting the rotors and setting them</li>
          <li>Batch page allows user to input a message and encode it. It can be decoded using the same settings it was encoded with</li>
        </ul>
        <br>
          <ul><a href="http://webdev.cse.msu.edu/~will2817/step4/welcome.php">Stalking the Wumpus Game</a><br><br>
            <li>Made with PHP, styled with HTML/CSS</li>
            <li>Clicking start game will bring you to a page where you can click rooms</li>
            <li>Rooms display horizontally with numbers to indicate which room</li>
            <li>Text hints are displayed if player is close to a room with birds, a pit, or the Wumpus</li>
            <li>Amount of arrows remaining is always displayed and deincrements as arrows are used</li>
            <li>Shoot arrow button allows player to try and attack Wumpus if not in same room</li>
            <li>Starting a game will use a random seed to select the room the player starts in</li>
          </ul>
          <br>
          <ul><a href="http://www.capstone.cse.msu.edu/2019-01/projects/spectrum-health/">Patient Training Tool</a> for Google Home and Amazon Alexa<br><br>
          <li>Made using Dialogflow for NLP, NodeJS for the webhook and SQL for the database, deployed through Microsoft Azure</li>
          <li>User can say symptoms that they are experiencing, symptoms are extracted as entities in Dialogflow</li>
          <li>Those entities are passed to a NodeJS webhook which will do work depending on the intent passing the entities in</li>
          <li>A database query is done to find a matching condition which is then voiced by the smart speaker</li>
          <li>The application will then recommend a health service to use based on the condition</li>
          <li>User can use the recommended service or pick another which will then be used to weight further recommendations</li>
        </ul>
        </ul>
        </div>
      </p>
    </div>

    <div id="popupForm" style="display: none;">
      <form action="http://blake-contact.herokuapp.com/" method="GET" target="http://williamsbl.herokuapp.com">
        <label for="name"><b>Name</b></label><br>
        <input type="text" placeholder="Enter Name" name="name" required><br>
        <label for="name"><b>Message</b></label><br>
        <textarea name="msg" placeholder="Enter your message" required></textarea><br>
        <label for="name"><b>Contact Info</b></label><br>
        <input type="text" placeholder="Enter your preferred method of contact" name="contact" required><br>
        <br>
        <button id="submission" type="submit" value="Send">Send</button><br>
    </form>
    </div>

    <script>
    function openTab(evt, tabName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tab");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(tabName).style.display = "inline-block";
      evt.currentTarget.className += " active";
      }

    function closeAllTabs() {
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
    }

    function toggleForm() {
      if(document.getElementById("popupForm").style.display == "none"){
        document.getElementById("popupForm").style.display = "block";
      }
      else{
        document.getElementById("popupForm").style.display = "none";
      }
    }

    </script>

  </body>
</html>
