<!DOCTYPE html>
<html>
  <head>
    <title>Text me!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
      <form action="http://blake-contact.herokuapp.com/" method="GET">
        Name: <input type="text" name="name"><br>
        Message: <textarea name="msg"></textarea><br>
        Contact Info: <input type="text" name="contact"><br>
        <input type="submit" value="Send">
    </form>
  </body>

</html>